.navbar1 {
    background-color: gray;
    border: 1px red solid;
}

#navbar1-text ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px red solid;
    list-style: none;
}

.navbar2 {
    border: 1px red solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#navbar2-text1 {
    border: 1px red solid;
}

#navbar2-text2 ul {
    display: flex;
    flex-direction: row;
    border: 1px red solid;
    list-style: none;
}

#navbar2-text2 li {
    display: flex;
    justify-content: space-between;
    border: 1px red solid;
}

section ::before {
    border: 1px red solid;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

section div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px red solid;
}

element.style {
    transform: translate3d (0vm, 0vm, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: transform;
}

#big {
    font-size: 96px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.015em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.bigcontainer {
    transform: rotateY(40deg);
    transform: rotateY(-30deg);
    transform: skew(12deg);
    margin-right: 10px;
}


