.navbar1 {
    background-color: gray;
    border: 1px red solid;
}

#navbar1-text ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px red solid;
    list-style: none;
}

.navbar2 {
    border: 1px red solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#navbar2-text1 {
    border: 1px red solid;
}

#navbar2-text2 ul {
    display: flex;
    flex-direction: row;
    border: 1px red solid;
    list-style: none;
}

#navbar2-text2 li {
    display: flex;
    justify-content: space-between;
    border: 1px red solid;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

#wrapper div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
/*
.first {
    border: 1px red solid;
    width: 60%;
    transform: translateY(-400px);
    transition: ease-in-out 1000ms;
}
*/
#big,
#bigger, 
#iphonecontainer,
#iphonepluscontainer,
#fourthbattery {
    font-size: 96px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.015em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.biggercontainer span {
    transform: rotateY(-40deg);
    transform: rotateY(60deg);
    transform: skew(1deg);
    transform: skew(360deg, 20deg);
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px red solid;
}

.second img {
    width: 75%;
    z-index: 5;
}

.second-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second .bigcontainer #big {
    border: 1px green solid;
    transform: skew(360deg, 340deg);
}

.third img {
    width: 75%;
}

.third span {
    font-size: 60px;
}

#iphone,
#iphoneplus {
    font-size: 20px;
}

.third-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#iphonecontainer,
#iphonepluscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third {
    border: 1px red solid;
}

#thirdphone {
    display: flex;
    flex-direction: row;
}

#thirdphoneplus {
    display: flex;
    flex-direction: row-reverse;
}

.fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    transition: all 5000ms ease;
    transform-style: preserve-3d;
}

.fourth-container {
    transform: rotate(-5deg);
}
